= render 'shared/side_bar'
.main-content
  .main-content__header
    .main-content__header__section
      .main-content__header__section__group
        %p
          =@group.name
      .main-content__header__section__member
        -@group.users.each do |member|
          %span
            =member.name
    = link_to "Edit", edit_group_path(@group)
  .main-content__body
    = render @messages
  .main-content__footer
    .main-content__footer__block
      = form_for [@group, @message] do |f|
        .main-content__footer__block__form
          = f.text_field :content, class: 'textform', placeholder: 'type a message'
          = f.label :image do
            = f.file_field :image, class: 'textimage'
            = fa_icon("image")
        = f.submit 'Send', class: 'send'
